.tableHeader {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  text-align: center;
  background-color: #fff;
  border: 1px solid #dce3e5cc;
  border-radius: 8px;
  padding: 14px 60px;

  @mixin dark {
    background-color: var(--mantine-color-gray-7);
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
}

.weekday {
  width: calc(100% / 7);
  text-transform: uppercase;
}

.dayNum {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.selectedDay {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #3e85f3;
  line-height: 18px;
  font-size: 16px;
  color: #fff;
}

.tools {
  display: flex;
  justify-content: space-between;
}
