.tableHeader {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  text-align: center;
  background-color: var(--mantine-color-white);
  border: 1px solid #dce3e5cc;
  border-radius: rem(8px);
  padding: rem(14px) 0;

  @mixin dark {
    background-color: var(--mantine-color-gray-7);
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
}

.tools {
  display: flex;
  flex-direction: column;
  gap: rem(24px);

  @media (min-width: $mantine-breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $mantine-breakpoint-xl) {
    align-items: center;
  }
}

.periodTypeWrapper {
  display: flex;
}

.periodType {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;

  width: rem(82px);
  height: rem(34px);

  /* padding: rem(8px) rem(10px); */
  color: var(--mantine-color-blue-4);

  border: 1px solid rgba(220, 227, 229, 0.5);
  background-color: #e3f3ff;
  transition: all 300ms ease;

  @mixin dark {
    color: var(--mantine-color-blue-4);
    background-color: var(--mantine-color-gray-7);
    border-color: rgba(255, 255, 255, 0.15);
  }

  @media (min-width: $mantine-breakpoint-md) {
    font-size: 16px;
  }
}

.periodType:hover {
  background-color: var(--mantine-color-blue-3);
  /* color: var(--mantine-color-white); */
  @mixin dark {
    background-color: var(--mantine-color-gray-8);
  }

  @mixin light {
    color: var(--mantine-color-white);
  }
}

.periodLeft {
  border-top-left-radius: rem(8px);
  border-bottom-left-radius: rem(8px);
  border-right: 0.7px solid rgba(220, 227, 229, 0.5);
}

.periodRight {
  border-top-right-radius: rem(8px);
  border-bottom-right-radius: rem(8px);
  border-left: 0.7px solid rgba(220, 227, 229, 0.5);
}

.periodType.activePeriod {
  background-color: #cae8ff;

  @mixin dark {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-blue-4);
  }
}
.periodType.activePeriod:hover {
  background-color: var(--mantine-color-blue-3);

  @mixin dark {
    background-color: var(--mantine-color-blue-5);
  }
}

.weekday {
  width: calc(100% / 7);
  text-transform: uppercase;
}

.weekday span {
  transition: all ease 300ms;
  padding: 4px rem(8px);
  border-radius: rem(8px);
  line-height: rem(18px);
  font-size: rem(16px);
}

.weekday:hover span {
  background-color: var(--mantine-color-blue-3);
  color: var(--mantine-color-white);
}

.clickable {
  cursor: pointer;
}

.dayNum {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.selectedDay {
  padding: 4px rem(8px);
  border-radius: rem(8px);
  background-color: var(--mantine-color-blue-4);
  line-height: rem(18px);
  font-size: rem(16px);
  color: var(--mantine-color-white);
}
.selectedDay .tools {
  display: flex;
  justify-content: space-between;
}
