.changePassWrap {
  padding: 40px 20px 30px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.googleButton {
  height: rem(46px);
  border-radius: rem(16px);
  border-color: light-dark(_, var(--mantine-color-blue-4));
}

/* ---form---- */

.input {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  padding: rem(14px);
  height: rem(46px);
  font-size: rem(14px);
  font-weight: 400;
  line-height: 1.28;
  border-radius: 8px;
  border: 1px solid var(--mantine-color-blue-11);

  transition: border-color 350ms ease;
}

.input[aria-invalid='true'] {
  border: 1px solid var(--mantine-color-red-4);
}

.input[aria-invalid='true']::placeholder {
  font-size: rem(14px);
  font-weight: 400;
  line-height: 1.28;

  color: var(--mantine-color-red-4);
}

.input::placeholder {
  color: var(--mantine-color-blue-11);
  font-size: rem(14px);
  font-weight: 400;
  line-height: 1.28;
}
.input:focus {
  border-color: var(--mantine-color-black);
}

.inputCorrect {
  border-color: var(--mantine-color-green-6) !important;
}

.input[data-error='true'] {
  border-color: var(--mantine-color-red-4);
}

.inputError {
  border: 1px solid var(--mantine-color-red-4);
}

.inputInput::placeholder {
  color: var(--mantine-color-blue-11);
  font-size: rem(14px);
  font-weight: 400;
  line-height: 1.28;
}

.inputInput[data-invalid='true']::placeholder {
  color: var(--mantine-color-red-4);
}

.input:focus-within {
  border-color: light-dark(
    var(--mantine-color-black),
    var(--mantine-color-blue-4)
  );
}

.label {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-blue-4));
  font-size: rem(12px);
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.labelCorrect {
  color: var(--mantine-color-green-6);
  font-size: rem(12px);
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.labelError {
  color: var(--mantine-color-red-4);
  font-size: rem(12px);
  font-weight: 600;
  line-height: normal;
  margin-bottom: 8px;
}

.required {
  color: var(--mantine-color-red-4);
}

.requiredCorrect {
  color: var(--mantine-color-green-6);
}

.requiredError {
  color: var(--mantine-color-red-4);
}

.error {
  color: var(--mantine-color-red-4);
  font-size: rem(12px);
  font-weight: 400;
  line-height: 1.16;
}

.iconWrap {
  display: flex;
  align-items: center;
  gap: 4px;
  /* padding-right: 20px; */
}

.eye {
  display: flex;
}
