body {
  @mixin light {
    background-color: var(--mantine-color-wite);
  }
}
.wrap {
  @media (min-width: $mantine-breakpoint-xl) {
    /* Общий */
    display: flex;
    gap: 228px;
  }
}

.even {
  @media (min-width: $mantine-breakpoint-xl) {
    display: flex;
    gap: 228px;
    flex-direction: row-reverse;
  }
}

.wraper {
  @media (min-width: $mantine-breakpoint-md) {
    /* каждый второй элемент без картинки */
    margin-left: auto;
    width: 275px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}

.list {
  list-style: none;
}

img {
  @media (min-width: $mantine-breakpoint-xl) {
    height: 700px;
  }
}

.listitem {
  padding-top: 64px;

  @media (min-width: $mantine-breakpoint-xl) {
    /* каждый первый элемент без картинки */
    display: flex;
    justify-content: center;
  }
}

.wraperleft {
  @media (min-width: $mantine-breakpoint-xl) {
    /* каждый первый элемент без картинки */
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}

.lastitem {
  padding-bottom: 32px;
}

.number {
  font-family: 'Inter';
  font-size: rem(80px);
  font-weight: 700;
  line-height: 1;
  text-align: left;

  margin-bottom: rem(22px);

  color: var(--mantine-color-blue-4);

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(104px);

    margin-bottom: rem(20px);
  }
}

.title {
  font-family: 'Inter';
  font-size: rem(32px);
  font-weight: 700;
  line-height: 1.25;
  text-align: center;

  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--mantine-color-blue-1);
  border-radius: 44px;
  width: 214px;
  height: 56px;

  margin-bottom: rem(8px);

  color: var(--mantine-color-blue-4);

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(40px);
    line-height: 1.1;
    width: 264px;

    margin-bottom: rem(20px);
  }
}

.text {
  font-family: 'Inter';
  font-size: rem(32px);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: rem(14px);

  text-transform: uppercase;
  color: var(--mantine-color-dark-7);

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(40px);
    line-height: 1.1;

    margin-bottom: rem(24px);
  }
}

.description {
  font-family: 'Inter';
  font-size: rem(14px);
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: rem(40px);

  @media (min-width: $mantine-breakpoint-md) {
    width: 275px;

    margin-bottom: rem(48px);
  }
}
