.input {
  border-radius: 8px;
  width: 100%;
  background-color: #f6f6f6;
  border: none;
  padding: 14px 18px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  height: 46px;
  display: flex;
  align-items: center;
}

.input::placeholder {
  color: #343434;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.wrapTimes {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  margin-top: 16px;
  margin-bottom: 28px;
}

.label {
  color: rgba(52, 52, 52, 0.8);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 8px;
}

.wrapTime {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.radioWrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.labelPriority {
  display: flex;
  align-items: center;
}

.radioInput {
  appearance: none;
  width: 15px;
  height: 15px;
  margin: 0;
  outline: none;
  position: relative;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s;
}

.radioInput:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  border: 2px solid transparent;
  transform: translate(-50%, -50%);
}

.radioInput:not(:checked) {
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
}

.radioInputBlue {
  border: 2px solid rgba(114, 194, 248, 0.5);
}

.radioInputBlue:not(:checked) {
  background-color: #72c2f8;
}

.radioInputBlue:before {
  background-color: #72c2f8;
}

.radioInputYellow {
  border: 2px solid rgba(243, 178, 73, 0.5);
}

.radioInputYellow:not(:checked) {
  background-color: #f3b249;
}

.radioInputYellow:before {
  background-color: #f3b249;
}

.radioInputRed {
  border: 2px solid rgba(234, 61, 101, 0.5);
}

.radioInputRed:not(:checked) {
  background-color: #ea3d65;
}

.radioInputRed:before {
  background-color: #ea3d65;
}

.radioLabel {
  margin-left: 6px;
  color: #343434;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 128.571%;
}

.buttonWrap {
  display: flex;
  gap: 14px;
}

.button {
  display: flex;
  width: 182px;
  height: 48px;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.addButton {
  background: #3e85f3;
}

.cancelButton {
  background-color: #efefef;
  color: #111;
}
