.stat__container {
  padding-top: rem(64);
  padding-bottom: rem(40);

  @media (min-width: $mantine-breakpoint-xl) {
    padding-top: rem(32);
  }
}

.stat__wrapper {
  height: rem(684);

  padding-top: rem(28);
  padding-bottom: rem(135);
  padding-left: rem(14);
  padding-right: rem(14);

  @media (min-width: $mantine-breakpoint-md) {
    height: rem(854);

    padding-top: rem(132);
    padding-bottom: rem(224);
    padding-left: rem(32);
    padding-right: rem(32);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    height: rem(752);

    padding-top: rem(134);
    padding-bottom: rem(104);
    padding-left: rem(114);
    padding-right: rem(114);
  }
}

.stat__header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: rem(20);
}
