.periodPaginatorWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: $mantine-breakpoint-md) {
    align-items: center;
    gap: rem(8px);
  }
}

.dateBtn {
  min-width: rem(190px);
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-blue-4);
  border: transparent;
  border-radius: rem(8px);

  cursor: pointer;

  font-size: rem(14px);
  font-style: normal;
  font-weight: 700;

  height: rem(34px);

  transition: all 300ms ease;

  padding: 0 rem(12px);
  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(16px);
  }
}

.dateBtn:hover {
  background-color: var(--mantine-color-blue-5);
}

.iconWrapper {
  display: flex;
}

.iconArrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  height: rem(34px);

  border: 1px solid rgba(220, 227, 229, 0.5);
  background-color: var(--mantine-color-white);
  transition: all 300ms ease;

  @mixin dark {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-gray-7);
    border-color: rgba(255, 255, 255, 0.15);
  }
}

.iconArrow:hover {
  background-color: var(--mantine-color-gray-1);

  @mixin dark {
    background-color: var(--mantine-color-gray-8);
  }
}

.iconLeft {
  border-top-left-radius: rem(8px);
  border-bottom-left-radius: rem(8px);
  border-right: 0.7px solid rgba(220, 227, 229, 0.5);
}

.iconRight {
  border-top-right-radius: rem(8px);
  border-bottom-right-radius: rem(8px);
  border-left: 0.7px solid rgba(220, 227, 229, 0.5);
}

.icon {
  width: rem(14px);
  height: rem(14px);

  @media (min-width: $mantine-breakpoint-md) {
    width: rem(18px);
    height: rem(18px);
  }
}

/* DATE PICKER */
.datePicker {
  display: inline-block;
  padding: 16px;
  position: absolute;
  left: rem(135);
  top: rem(42);
  transform: translate(-50%, 0%);
  border: 1px solid var(--mantine-color-blue-4);
  background-color: var(--mantine-color-blue-4);
  border-radius: rem(16px);
  z-index: 10;
}

/* calendarHeader */
.calendarHeader {
  height: rem(20);
  margin-bottom: rem(20);
  align-items: center;
}
.calendarHeaderControl {
  color: var(--mantine-color-white);

  &:first-of-type {
    justify-content: flex-start;
  }
  &:last-of-type {
    justify-content: flex-end;
  }
}
.calendarHeaderLevel {
  height: inherit;

  color: var(--mantine-color-white);
  text-align: center;
  font-family: Inter;
  font-size: rem(16);
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: rem(-0.32px);
}
/* /calendarHeader */

/* weekdaysRow */
.weekdaysRow {
  height: rem(24);
  padding-bottom: rem(10);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: rem(14);
  font-weight: 500;
}

.weekday {
  color: rgba(255, 255, 255, 0.5);
}

/* /weekdaysRow */

.monthsListCell button {
  color: var(--mantine-color-white);
  font-family: Inter;
  font-size: rem(16px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.16667;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(18px);
    line-height: 1.16667;
  }
}

.yearsListCell button {
  color: var(--mantine-color-white);
  font-family: Inter;
  font-size: rem(16px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.16667;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(18px);
    line-height: 1.16667;
  }
}

.month {
  width: rem(235);
  height: rem(204);
}

.day {
  border-radius: 50%;

  color: var(--mantine-color-white);
  font-family: Inter;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.28571;
}

.day[data-weekend='true'] {
  opacity: 0.35;
}

.day[data-selected='true'] {
  opacity: 1;
  color: var(--mantine-color-blue-4);
  background-color: var(--mantine-color-white);
  border-radius: 50%;
}
