/* .boxRegister {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f9f9f9;
}
.headerRegister {
  color: #0077cc;
}
.formRegister {
  display: flex;
  flex-direction: column;
}

.labelRegister {
  font-weight: bold;
  margin-bottom: 5px;
}

.inputRegister {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.buttonRegister {
  background: #0077cc;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.buttonRegister:hover {
  background: #0055aa;
} */

/* ----------- */

.wrappForm {
  padding: 40px 24px;
  width: 335;
  @media (min-width: $mantine-breakpoint-md) {
    width: 600px;
  }
}
