.addButton {
  width: 100%;
  padding: rem(16px) 0;
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-top: 32px;
  justify-content: center;
  border: 1px dashed var(--mantine-color-blue-4);
  border-radius: rem(8px);
  background-color: var(--mantine-color-blue-0);
  font-weight: 600;
  line-height: rem(18px);
  transition: background-color 350ms ease;
  @mixin dark {
    background-color: var(--mantine-color-blue-4);
    border: 1px transparent;
  }
}

.addButton:hover {
  @mixin dark {
    background-color: var(--mantine-color-blue-5);
  }
  background-color: var(--mantine-color-blue-1);
}
