.task {
  overflow: auto;
  max-height: 368px;
  scroll-behavior: smooth;
  scrollbar-width: 2px;
}

.tasksColumn {
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(220, 227, 229, 0.8);
  padding: 20px;
}
