.cardBox {
  display: flex;
  flex-direction: column;
  width: rem(300);
  height: rem(112);
  padding: rem(14) rem(14) rem(18) rem(14);
  border-radius: rem(8);
  background-color: var(--mantine-color-dark-1);
  border: 1px solid var(--mantine-color-blue-11);
  flex-direction: column;
  justify-content: space-between;
}

.task {
  font-size: rem(14);
  font-family: 'Inter', sans-serif;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(32);
  height: rem(32);
  border: 1.8px solid #007bff;
  color: #007bff;
  border-radius: 50%;
  overflow: hidden;
}

.priority {
  height: rem(20);
  font-size: rem(10);
  padding-left: rem(12);
  padding-right: rem(12);
  border-radius: 4px;
  font-weight: 600;
}
