.tasksColumn {
  background-color: var(--mantine-color-white);
  width: 100%;
  min-width: rem(335px);
  border-radius: rem(8px);
  border: 1px solid rgba(220, 227, 229, 0.8);
  padding: rem(20px);
  padding-right: rem(15px);
  @mixin dark {
    background-color: var(--mantine-color-gray-7);
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
  @media (min-width: $mantine-breakpoint-md) {
    min-width: rem(344px);
  }
}

.addBtnIcon:hover {
  background-color: var(--mantine-color-dark-2);
}

.boxDrop {
  background-color: rgba(174, 172, 172, 0.138);
  scale: 1.01;
  transition: all 300ms ease;
  @mixin dark {
    background-color: rgba(179, 179, 179, 0.1);
  }
}
