.title {
  font-size: rem(26px);
  font-weight: 900;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
}

.forgotPasswordInput {
  background-color: transparent;
}

.borderInputSuccess {
  border-color: green;
}

.borderInputError {
  border-color: red;
}

.controls {
  @media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column-reverse;
  }
}

.controlBtn {
  width: rem(170px);
  @media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    text-align: center;
  }
}

.successWraper {
  display: flex;
  align-items: center;
  gap: rem(8px);
}

.titleSuccess {
  color: green;
}

.successbtn {
  display: block;
  max-width: rem(100px);
  margin-left: auto;
  background-color: var(--mantine-color-blue-7);
  border: none;
  cursor: pointer;
  color: var(--mantine-color-white);
  padding: rem(10px) rem(24px);
  border-radius: rem(8px);
  font-size: rem(16px);
  transition: all 350ms ease;
}

.successbtn:hover {
  background-color: var(--mantine-color-blue-8);
}

.errorMessage {
  color: red;
}
