.pageStyle {
  background: light-dark(
    var(--mantine-color-blue-2),
    var(--mantine-color-dark-7)
  );
  height: 100dvh;
}

.containerStyle {
  padding: 0 rem(20px);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: rem(18px);
  @media (min-width: $mantine-breakpoint-xl) {
    gap: rem(24px);
  }
}

.images {
  position: fixed;
  bottom: 19px;
  right: rem(60px);
  display: none;

  @media (min-width: $mantine-breakpoint-xl) {
    display: block;
  }
}
