.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $mantine-breakpoint-md) {
    justify-content: start;
    gap: rem(8px);
  }
}

.root {
  width: rem(170px);

  @media (min-width: $mantine-breakpoint-md) {
    width: rem(190px);
  }
}

.wrapper {
  border-radius: rem(8px);
  border: 1px solid var(--mantine-color-blue-4);
  background: var(--mantine-color-blue-4);
}

.input {
  text-align: center;
  background-color: transparent;
  border-color: transparent;
  color: var(--mantine-color-white);
  font-family: Inter;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.28571;
  text-transform: uppercase;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(16px);
    line-height: 1.125;
  }
}

.calendarHeaderControl {
  color: var(--mantine-color-white);
}

.calendarHeaderLevel {
  color: var(--mantine-color-white);
  text-align: center;
  font-family: Inter;
  font-size: rem(20px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(24px);
    line-height: 1.16667;
  }
}

.monthsListCell button {
  color: var(--mantine-color-white);
  font-family: Inter;
  font-size: rem(16px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.16667;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(18px);
    line-height: 1.16667;
  }
}

.yearsListCell button {
  color: var(--mantine-color-white);
  font-family: Inter;
  font-size: rem(16px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.16667;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(18px);
    line-height: 1.16667;
  }
}

.weekday {
  color: var(--mantine-color-white);
  text-align: center;
  font-family: Inter;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.28571;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(18px);
    line-height: 1.33333;
  }
}

.day {
  color: var(--mantine-color-white);
  font-family: Inter;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.28571;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(18px);
    line-height: 1.33333;
  }
}

.day[data-weekend='true'] {
  opacity: 0.35;
}

.day[data-selected='true'] {
  opacity: 1;
  color: var(--mantine-color-blue-4);
  background-color: var(--mantine-color-white);
}

.group {
}
