.modal {
  position: relative;
  border-radius: rem(8px);
  border: 1px solid rgba(220, 227, 229, 0.8);
  box-shadow: 0px 4px rem(57px) 0px rgba(17, 17, 17, 0.05);
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-dark-7)
  );
}

.closeBtn {
  position: absolute;
  top: rem(14px);
  right: rem(14px);

  @media (min-width: $mantine-breakpoint-md) {
    top: rem(18px);
    right: rem(18px);
  }
}
