.periodPaginatorWrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $mantine-breakpoint-md) {
    align-items: center;
    gap: rem(8px);
  }
}

.dateBtn {
  min-width: rem(190px);
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-blue-4);
  border: transparent;
  border-radius: rem(8px);

  cursor: pointer;

  font-size: rem(14px);
  font-style: normal;
  font-weight: 700;

  height: rem(34px);

  transition: all 300ms ease;

  padding: 0 rem(12px);
  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(16px);
  }
}

.dateBtn:hover {
  background-color: var(--mantine-color-blue-5);
}

.iconWrapper {
  display: flex;
}

.iconArrow {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  height: rem(34px);

  border: 1px solid rgba(220, 227, 229, 0.5);
  background-color: var(--mantine-color-white);
  transition: all 300ms ease;

  @mixin dark {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-gray-7);
    border-color: rgba(255, 255, 255, 0.15);
  }
}

.iconArrow:hover {
  background-color: var(--mantine-color-gray-1);

  @mixin dark {
    background-color: var(--mantine-color-gray-8);
  }
}

.iconLeft {
  border-top-left-radius: rem(8px);
  border-bottom-left-radius: rem(8px);
  border-right: 0.7px solid rgba(220, 227, 229, 0.5);
}

.iconRight {
  border-top-right-radius: rem(8px);
  border-bottom-right-radius: rem(8px);
  border-left: 0.7px solid rgba(220, 227, 229, 0.5);
}

.icon {
  width: rem(14px);
  height: rem(14px);

  @media (min-width: $mantine-breakpoint-md) {
    width: rem(18px);
    height: rem(18px);
  }
}

.dropdown {
  border: 1px solid var(--mantine-color-blue-4);
  background-color: var(--mantine-color-blue-4);
  border-radius: rem(16px);
}

.calendarHeaderControl {
  color: var(--mantine-color-white);
}

.calendarHeaderLevel {
  color: var(--mantine-color-white);
  font-family: Inter;
  font-weight: 600;
}

.monthsListCell button {
  color: var(--mantine-color-white);
  font-family: Inter;
  font-weight: 500;
}

.yearsListCell button {
  color: var(--mantine-color-white);
  font-family: Inter;
  font-weight: 500;
}

.weekday {
  color: var(--mantine-color-white);
  font-family: Inter;
  font-weight: 600;
}

.day {
  color: var(--mantine-color-white);
  font-family: Inter;
}

.day[data-weekend='true'] {
  color: rgba(255, 255, 255, 0.4);
}

.day[data-selected='true'] {
  opacity: 1;
  color: var(--mantine-color-blue-4);
  background-color: var(--mantine-color-white);
}
