ul {
  padding: 0;
}

.calendarDaysWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  border: 1px solid rgba(220, 227, 229, 0.8);
  border-radius: rem(8px);
  background-color: var(--mantine-color-white);
  padding-left: 0;
  overflow: hidden;

  @mixin dark {
    background-color: var(--mantine-color-gray-7);
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
}

.calendarDay {
  height: rem(100px);
  width: calc((100% - 1px) / 7);
  text-align: right;
  padding: 2px;

  transition: all 300ms ease;

  @media (min-width: $mantine-breakpoint-md) {
    padding: rem(10px);
    height: rem(144px);
  }
}

.currentMonth.calendarDay:hover {
  cursor: pointer;

  background-color: var(--mantine-color-gray-1);

  box-shadow: 3px 3px 34px -16px rgba(95, 100, 125, 1);

  @mixin dark {
    background-color: var(--mantine-color-gray-8);
  }
}

.calendarDay > span {
  transition: all 300ms ease;
}

.currentMonth.calendarDay:hover > span {
  font-weight: 700;
}

.tasksList::-webkit-scrollbar {
  margin-left: rem(10px);
  width: 3px;
}

.tasksList::-webkit-scrollbar-thumb {
  background-color: var(--mantine-color-gray-5);
  border-radius: rem(10px);

  @mixin dark {
    background-color: var(--mantine-color-gray-5);
  }
}

.tasksList::-webkit-scrollbar-thumb:hover {
  background-color: var(--mantine-color-gray-4);
}

.tasksList {
  overflow-y: scroll;
  max-height: rem(65px);

  @media (min-width: $mantine-breakpoint-md) {
    padding-top: 7px;
    max-height: rem(90px);
  }
}

.calendarDay:nth-child(7n) {
  border-left: 1px solid rgba(220, 227, 229, 0.8);
  border-bottom: 1px solid rgba(220, 227, 229, 0.8);

  @mixin dark {
    border-left: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
}
.calendarDay:nth-child(7n + 1) {
  border-bottom: 1px solid rgba(220, 227, 229, 0.8);

  @mixin dark {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
}

.calendarDay:not(:nth-child(7n)):not(:nth-child(7n + 1)) {
  border-left: 1px solid rgba(220, 227, 229, 0.8);
  border-bottom: 1px solid rgba(220, 227, 229, 0.8);

  @mixin dark {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
  }
}

.selectedDay {
  padding: 4px rem(8px);
  border-radius: rem(8px);
  background-color: var(--mantine-color-blue-4);
  line-height: rem(18px);
  font-size: rem(16px);
  color: var(--mantine-color-white);
}

.otherDays {
  color: var(--mantine-color-gray-0);

  @mixin dark {
    color: rgba(204, 204, 192, 0.1);
  }
}

.task {
  overflow: hidden;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: rem(10px);
  font-weight: 700;
  line-height: 1.4;
  display: block;
  text-align: left;
  text-transform: initial;
  padding: 1px;
  border-radius: rem(8px);
  border: 1px solid transparent;
  margin-right: 5px;

  @media (min-width: $mantine-breakpoint-md) {
    padding: 4px 4px 4px rem(10px);
  }
}

.task.low {
  background-color: var(--mantine-color-blue-0);
  color: var(--mantine-color-blue-4);
}

.task.medium {
  background-color: var(--mantine-color-orange-0);
  color: var(--mantine-color-orange-10);
}

.task.high {
  background-color: var(--mantine-color-red-0);
  color: var(--mantine-color-red-10);
}
