.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(95px);
  padding-top: rem(59px);
  padding-bottom: rem(40px);

  border-radius: rem(16px);
  background: #fff;

  @media (min-width: rem(375px)) {
    max-width: rem(335px);
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  @media (min-width: rem(768px)) {
    max-width: rem(704px);
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: rem(64px);
    padding-top: rem(40px);
    padding-left: rem(175px);
    padding-right: rem(175px);
  }
  @media (min-width: rem(1440)) {
    max-width: rem(1087px);
    padding-top: rem(60px);
    padding-bottom: rem(60px);
  }
}

.dropzone {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2em;
  flex-shrink: 0;
  width: rem(72px);
  height: rem(72px);

  border-radius: rem(72px);
  border: rem(2px) solid #3e85f3;
  background:
    url(../../../../assets/images/userSVG.svg) no-repeat,
    lightgray 100% / cover no-repeat;

  @media (min-width: rem(768px)) {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    transform: none;

    width: rem(124px);
    height: rem(124px);
  }
}

.avatarURL {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.textusername {
  margin-bottom: rem(4px);
  color: #343434;
  /* color: blueviolet; */
  font-family: Inter;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 700;
  line-height: rem(18px); /* 128.571% */
  align-items: center;

  @media (min-width: rem(768px)) {
    margin-bottom: rem(8px);

    font-size: rem(18px);
  }
}

.textUser {
  margin-bottom: rem(40px);
  font-size: rem(12px);

  color: #343434;
  /* color: blue; */
  font-family: Inter;
  font-size: rem(12px);
  font-style: normal;
  font-weight: 600;
  line-height: rem(14px); /* 116.667% */

  @media (min-width: rem(768px)) {
    font-size: 14px;
    line-height: 18px; /* 128.571% */
  }
  @media (min-width: rem(768px)) {
    margin-bottom: rem(44px);
  }
}

.simplGride {
  gap: rem(18px);

  @media (min-width: rem(768px)) {
    gap: rem(24px);
  }
  @media (min-width: rem(1440px)) {
    /* gap: rem(50px); */
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px 50px;
  }
}

.wrapper label {
  color: #111;
  /* color: red; */
  font-family: Inter;
  font-size: rem(12px);
  font-style: normal;
  font-weight: 400;
  line-height: rem(14px); /* 116.667% */
  border-radius: rem(8px);

  @media (min-width: rem(768px)) {
    font-size: rem(14px);
    line-height: rem(18px); /* 128.571% */
  }
}
.input::placeholder {
  color: rgba(17, 17, 17, 0.15);
  font-family: Inter;
  font-size: rem(16px);
  font-style: normal;
  font-weight: 600;
  line-height: rem(18px); /* 112.5% */

  /* color: purple; */
}

.input {
  width: rem(299px);
  /* width:100%; */
  height: rem(42px);

  padding-top: rem(12px);
  padding-bottom: rem(12px);
  padding-left: rem(14px);
  border-radius: rem(8px);
  color: #111;
  font-family: Inter;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 600;
  line-height: rem(18px); /* 128.571% */
  /* color: green; */

  @media (min-width: rem(768px)) {
    width: rem(354px);
    height: rem(46px);
    font-size: rem(16px);
    line-height: rem(18px); /* 112.5% */
  }
  @media (min-width: rem(1440px)) {
  }
}

.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(40px);
  padding: rem(14px) rem(50px);
  width: rem(195px);
  height: rem(46px);

  border-radius: rem(16px);
  background-color: var(--mantine-color-blue-4);
  /* background-color: red; */

  overflow: hidden;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 600;
  line-height: rem(18px); /* 128.571% */

  @media (min-width: rem(768px)) {
    width: rem(262px);
    height: rem(48px);

    background-color: var(--mantine-color-blue-4);
  }
  @media (min-width: rem(1440px)) {
    margin-top: 88px;
  }
}

.buttonLabel {
  overflow: visible;
}
