.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(95px);
  padding-top: rem(59px);
  padding-bottom: rem(40px);

  border-radius: rem(16px);
  background: var(--mantine-color-white);
  background: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-gray-7)
  );

  @media (min-width: $mantine-breakpoint-xs) {
    max-width: rem(335px);
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  @media (min-width: $mantine-breakpoint-md) {
    max-width: rem(704px);
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: rem(64px);
    padding-top: rem(40px);
    padding-left: rem(175px);
    padding-right: rem(175px);
  }
  @media (min-width: $mantine-breakpoint-xl) {
    max-width: rem(1087px);
    padding-top: rem(60px);
    padding-bottom: rem(60px);
  }
}

.dropzone {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2em;
  flex-shrink: 0;
  width: rem(72px);
  height: rem(72px);

  border-radius: rem(72px);
  border: rem(2px) solid var(--mantine-color-blue-4);
  cursor: pointer;

  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  overflow: hidden;
  @media (min-width: $mantine-breakpoint-md) {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    transform: none;

    width: rem(124px);
    height: rem(124px);
  }
}

.dropzone img {
  transition:
    all 0.5s,
    filter 0.5s ease-in-out;
  filter: grayscale(30%);
}

.dropzone:hover img {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));

  filter: grayscale(0);
  scale: 1.1;
}

.userIcon {
  object-fit: none;
}

.plusIcon {
  object-fit: scale-down;
  position: absolute;
  cursor: pointer;

  @media (max-width: $mantine-breakpoint-md) {
    width: rem(15px);
    height: rem(15px);

    left: 56%;
    transform: translateX(-50%);
    top: 3.5%;
  }
  @media (min-width: $mantine-breakpoint-md) {
    left: 53%;
    top: 16.5%;
    width: rem(24px);
    height: rem(24px);
  }
  @media (min-width: $mantine-breakpoint-xl) {
    left: 52%;
    top: 21.5%;
  }
}

.previeAvatar {
  object-fit: cover;
  overflow: hidden;
  @media (max-width: rem(767px)) {
    width: rem(68px);
    height: rem(68px);
  }
  @media (min-width: $mantine-breakpoint-md) {
    width: rem(122px);
    height: rem(119px);
  }
  @media (min-width: $mantine-breakpoint-xl) {
    width: 121px;
    height: 120px;
  }
}

.avatarURL {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.textusername {
  margin-bottom: rem(4px);
  color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-white));

  font-family: Inter;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.29;
  align-items: center;

  @media (min-width: $mantine-breakpoint-md) {
    margin-bottom: rem(8px);
    font-size: rem(18px);
  }
}

.textUser {
  margin-bottom: rem(40px);
  font-size: rem(12px);

  color: light-dark(var(--mantine-color-gray-6), rgba(250, 250, 250, 0.3));
  font-family: Inter;
  font-size: rem(12px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.17;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: 14px;
    line-height: 1.29;
  }
  @media (min-width: $mantine-breakpoint-md) {
    margin-bottom: rem(44px);
  }
}

.simplGride {
  gap: rem(18px);

  @media (min-width: $mantine-breakpoint-md) {
    gap: rem(24px);
  }
  @media (min-width: rem(1440px)) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px 50px;
  }
}

.wrapper label {
  color: light-dark(var(--mantine-color-black), rgba(250, 250, 250, 0.3));
  font-family: Inter;
  font-size: rem(12px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  border-radius: rem(8px);

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(14px);
    line-height: 1.29;
  }
}
.input::placeholder {
  color: light-dark(rgba(17, 17, 17, 0.15), rgba(250, 250, 250, 0.3));
  font-family: Inter;
  font-size: rem(16px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.12;
}

.input {
  width: rem(299px);
  height: rem(42px);

  padding-top: rem(12px);
  padding-bottom: rem(12px);
  padding-left: rem(14px);
  border-radius: rem(8px);
  border: light-dark(
    1px solid rgba(17, 17, 17, 0.15),
    1px solid rgba(255, 255, 255, 0.15)
  );
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Inter;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.29;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-gray-7)
  );

  @media (min-width: $mantine-breakpoint-md) {
    width: rem(354px);
    height: rem(46px);
    font-size: rem(16px);
    line-height: 1.13;
  }
  @media (min-width: rem(1440px)) {
  }
}
.input:hover {
  border-radius: 8px;
  border: 1px solid var(--mantine-color-black);
}
.button {
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(40px);
  padding: rem(14px) rem(50px);
  width: rem(195px);
  height: rem(46px);

  border-radius: rem(16px);
  background-color: var(--mantine-color-blue-4);

  overflow: hidden;
  color: var(--mantine-color-white);
  text-align: center;
  font-family: Inter;
  font-size: rem(14px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.29;

  @media (min-width: $mantine-breakpoint-md) {
    width: rem(262px);
    height: rem(48px);

    background-color: var(--mantine-color-blue-4);
  }
  @media (min-width: rem(1440px)) {
    margin-top: rem(88px);
  }
}

.button:hover {
  background-color: var(--mantine-color-blue-5);
}
.buttonLabel {
  overflow: visible;
}
.button:disabled {
  background-color: grey;
}
