.closeBtn {
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-0));
  @media (min-width: $mantine-breakpoint-md) {
    width: rem(34px);
  }

  @media (min-width: $mantine-breakpoint-xl) {
    display: none;
  }
}

.closeBtn > svg {
  @media (min-width: $mantine-breakpoint-md) {
    stroke-width: 2.5;
  }
}
