.title {
  font-size: rem(12px);
  font-weight: 600;
  line-height: 1.25;

  color: rgba(52, 52, 52, 0.5);

  margin-bottom: rem(24px);

  @media (min-width: $mantine-breakpoint-md) {
    font-size: rem(14px);
    margin-bottom: rem(32px);
  }
}
